db_leaves: "leaves"
db_pending: "pending"
fixed_peer_delay: 3
random_peer_delay: 3
max_peer_age_removal: 60
max_peer_age_suspension: 25
heartbeat_freq: 10
leaves_update_freq: 20
cert_min_age: 15
commit_delay: 10
commit_peer_delay: 10
config_delay: 60
short_sleep: 6
query_freq: 17
bucket_time: 300
bucket_sets: 1
bucket_sets: 3
bucket_sets: 12
publish_cert_info: true
health_check_freq: 17
tree_sign_freq: 17
